:root {
  /* Fonts */
  --primaryFont: 'Slabo 13px', serif;
  --secondaryFont: 'Noto Sans', sans-serif;

  /* Colors */
  --purple: #8E5AAA;
  --pink: #FF6584;
  --brightPurple: #814C9E;
  --offWhite: #DADADA;
  --black: #000;
  --white: #fff;
  --yellow: #FFD600;

  /* Font Sizes */
  

}

html,
body {

  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Slabo 13px', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
